.InvestorSection {
    text-align: center;
    background-color: #fff;
    padding: 0px !important;
}

.InvestorContainer {
    background-color: #000;
    background-size: cover;
    background-position: center;
    padding: 50px 20px 70px;
}

.InvestorContainer h2 {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    text-align: center;
}

.Description {
    max-width: 386px;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    margin: auto;
    width: 90%;
    padding-bottom: 40px;
}

.InvestorDescriptionContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #9F9C8E;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 30px;
    text-align: left;
    position: relative;
    top: -30px;
    width: 90%;
    border-radius: 8px;
    background-color: #FFFFFF;
    margin: auto;
}

.InvestorDescriptionHeading {
    flex: 0 100%;
    max-width: 628px;
    color: #4B4737;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    margin: auto;
    padding: 50px 10px 30px;
}

.InvestorDescriptionItem {
    flex: 0 100%;
    padding: 2%;
}

.InvestorDescriptionItem a {
    color: rgb(75, 71, 55);
    font-weight: 600;
}

/* Medium screens */
@media all and (min-width: 600px) {
    .InvestorDescriptionItem {
        flex: 1 50%;
    }
}