.Footer {
  padding: 50px;
  height: 150px;
  background: #161613;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.Nav {
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
}

.NavItem {
  white-space: nowrap;
  margin: 15px;
}
