.InfoSection {
    text-align: center;
    background-color: #000;
    height: 550px;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    position: relative;
}

.InfoSection h2 {
    max-width: 477px;
    font-size: 40px;
    font-weight: bold;
    line-height: 49px;
    margin: auto;
    padding-top: 200px;
}

.Description {
    max-width: 309px;
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin: auto;
    padding-top: 15px;
}

.NavigationSection {
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
    display: none;
}

.NavigationSection ul {
    list-style-type: none;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    text-transform: uppercase;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    
}

.NavigationSection ul li {
    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;
    position: relative;
    transition: all 300ms;
}

.NavigationSection ul li:hover {
    top: -2px;
}

/* Medium screens */
@media all and (min-width: 480px) {
    .NavigationSection {
        display: block;
    }
}