.SubscribeSection {
    text-align: center;
    background-color: rgb(75, 71, 55);
}

.SubscribeSection h2 {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    text-align: center;
    margin-bottom: 8px;
}

.SubscribeContainer {
    padding: 20px 10px !important;
}

.Description {
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 46px;
    text-align: center;
}

.InputContainer {
    padding: 30px 10px;
    font-size: 0px;
}

.InputContainer input {
    border-radius: 22px 0px 0px 22px;
    line-height: 25px;
    padding: 10px 20px;
    border: 0px;
    vertical-align: bottom;
    font-size: 14px;
    max-width: 40%;
}

.InputContainer button {
    border-radius: 0px 22px 22px 0px !important;
    min-height: 45px !important;
}