.Header {
  background-color: white;
  padding: 10px;
}

.Container {
  min-height: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Nav {

  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
	color: #A0A0A0;
	font-size: 12px;
	font-weight: bold;
  line-height: 15px;
}

.NavItem {
  white-space: nowrap;

  padding: 15px;
}

.NavItemButton {
  border-radius: 28px;
  color: white;
  background-color: #F7CF76;
  padding: 10px 15px;
}